apiVersion: v1
kind: ConfigMap
metadata:
  name: piston-config
  namespace: piston
data:
  # Logging
  PISTON_LOG_LEVEL: "INFO"
  
  # Bind address (internal to container)
  PISTON_BIND_ADDRESS: "0.0.0.0:2000"
  
  # Data directory
  PISTON_DATA_DIRECTORY: "/piston"
  
  # Runner UID/GID ranges
  PISTON_RUNNER_UID_MIN: "1001"
  PISTON_RUNNER_UID_MAX: "1500"
  PISTON_RUNNER_GID_MIN: "1001"
  PISTON_RUNNER_GID_MAX: "1500"
  
  # Security - disable networking in jobs
  PISTON_DISABLE_NETWORKING: "true"
  
  # Resource limits per job
  PISTON_MAX_PROCESS_COUNT: "64"
  PISTON_OUTPUT_MAX_SIZE: "1024"
  PISTON_MAX_OPEN_FILES: "2048"
  PISTON_MAX_FILE_SIZE: "10000000"
  
  # Timeouts (milliseconds)
  PISTON_COMPILE_TIMEOUT: "10000"
  PISTON_RUN_TIMEOUT: "3000"
  PISTON_COMPILE_CPU_TIME: "10000"
  PISTON_RUN_CPU_TIME: "3000"
  
  # Memory limits (-1 = unlimited)
  PISTON_COMPILE_MEMORY_LIMIT: "-1"
  PISTON_RUN_MEMORY_LIMIT: "-1"
  
  # Package repository
  PISTON_REPO_URL: "https://github.com/engineer-man/piston/releases/download/pkgs/index"
  
  # Concurrent job limit - increased for event (single pod)
  PISTON_MAX_CONCURRENT_JOBS: "256"
